<mat-toolbar class="austrian-flag-red-gb color-white">
  <span class="austrian-flag"></span>
  <span><h2>VAT Calculator of Austria</h2></span>
</mat-toolbar> 

<div class="main-container">
  <!-- Sidebar -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item class="mat-list-item" routerLink="/description">
          <mat-icon class="sidenav-icon austrian-flag-red-color">info</mat-icon>
          <span>Description</span>
        </mat-list-item>
        <mat-list-item class="mat-list-item" routerLink="/calculator">
          <mat-icon class="sidenav-icon austrian-flag-red-color">euro</mat-icon>
          <span>Calculator</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content area -->
    <mat-sidenav-content class="content-container">
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<footer class="austrian-flag-red-gb" style="height: 10%;"></footer>
