.austrian-flag {
    display: inline-block;
    width: 30px;
    height: 18px;
    background: linear-gradient(to bottom, red 33.33%, white 33.33%, white 66.66%, red 66.66%);
    margin-right: 10px;
}

.main-container {
    display: flex;
    height: 100vh;
}
  
.sidenav-container {
  flex: 1;
  display: flex;
}
  
.sidenav {
  width: 250px;
  background-color: #f4f4f4;
}
  
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
  
mat-nav-list {
  padding: 0;
}
  
mat-list-item {
  padding: 10px 15px;
  cursor: pointer;
}
  
mat-list-item:hover {
  background-color: #ddd;
}

.sidenav-icon {
  margin-right: 16px;
  vertical-align: middle;
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.error-snackbar {
  background-color: rgb(200, 16, 46) !important;
  color: white !important;
  width: 100%;
  margin-top: 64px !important;
}


.title-text {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}