.toolbar-background {
    background-color: rgb(200, 16, 46) !important;
} 

.austrian-flag {
    display: inline-block;
    width: 30px; /* Adjust the size of the flag */
    height: 18px;
    background: linear-gradient(to bottom, red 33.33%, white 33.33%, white 66.66%, red 66.66%);
    margin-right: 10px; /* Space between flag and title */
}

.toolbar-background {
    background-color: #3f51b5; /* Example, adjust as needed */
    color: white;
}

/* Main container for sidebar and content */
.main-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar settings */
  .sidenav-container {
    flex: 1;
    display: flex;
  }
  
  /* Sidebar styles */
  .sidenav {
    width: 250px;
    background-color: #f4f4f4;
  }
  
  /* Content area */
  .content-container {
    flex: 1;
    background-color: #fff;
  }
  
  .content-body {
    font-size: 16px;
    background-image: url('../assets/images/austrian-vat-bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
  
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
  
  mat-nav-list {
    padding: 0;
  }
  
  mat-list-item {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  mat-list-item:hover {
    background-color: #ddd;
  }