.austrian-flag {
    display: inline-block;
    width: 30px;
    height: 18px;
    background: linear-gradient(to bottom, red 33.33%, white 33.33%, white 66.66%, red 66.66%);
    margin-right: 10px;
}

.main-container {
    display: flex;
    height: 100vh;
}
  
.sidenav-container {
  flex: 1;
  display: flex;
}
  
.sidenav {
  width: 250px;
  background-color: #f4f4f4;
}
  
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
  
mat-nav-list {
  padding: 0;
}
  
mat-list-item {
  padding: 10px 15px;
  cursor: pointer;
}
  
mat-list-item:hover {
  background-color: #ddd;
}

.sidenav-icon {
  margin-right: 16px; /* Adds spacing between icon and text */
  vertical-align: middle; /* Aligns the icon vertically with the text */
}

.mat-list-item {
  display: flex;
  align-items: center; /* Ensures the icon and text are centered vertically */
}