/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-container {
    flex: 1;
    background-image: url('assets/images/austrian-vat-bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  .austrian-flag-red-gb {
    background-color: rgb(200, 16, 46) !important;
  }

  .austrian-flag-red-color {
    color: rgb(200, 16, 46) !important;
  }

  .color-white {
    color: white !important;
  }